<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>PropertyPlus Care</title>
  </head>
  <body>
    <header class="fixed max-h-10 max-w-10 right-0 sm:hidden"><a
        href="./help.hbs"
      ><img src="/img/questionmark.png" alt="question mark" /></a></header>
    {{{body}}}
    <footer class="flex fixed align-bottom h-10 bottom-0 bg-slate-500 sm:hidden w-screen">
      <nav class="">
        <ul class="flex justify-between max-w-screen-smpx-10">
          <li><img src="/img/Home.png" alt="Home Page"></li>
          <li><img src="/img/Issues.png" alt="Issues Page"></li>
          <li><img src="/img/Properties.png" alt="Properties"></li>
          <li><img src="/img/Vendor.png" alt="Vendor Page"></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>