<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://kit.fontawesome.com/542c6a9870.css" crossorigin="anonymous">
    <title>PropertyPlus Care</title>
  </head>
  <body>
    <header class="fixed max-h-10 max-w-10 right-0 sm:hidden"><a
        href="./help.hbs"
      ><img src="/img/questionmark.png" alt="question mark" /></a></header>
      <h1 class="text-5xl font-medium text-blue-900 p-3">Welcome, {{{user}}}!</h1>
    {{{body}}}
    <footer class="flex fixed align-bottom bottom-0 bg-slate-500 sm:hidden w-screen text-center">
      <nav class="m-auto w-screen py-1.5">
        <ul class="flex justify-around max-w-screen-sm">
          <li><i class="fa-regular fa-calendar fa-3x"></i></li>
          <li><i class="fa-regular fa-square-check fa-3x"></i></li>
          <li><i class="fa-regular fa-house fa-3x"></i></li>
          <li><i class="fa-regular fa-user-helmet-safety fa-3x"></i></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>