<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://kit.fontawesome.com/542c6a9870.css"
      crossorigin="anonymous"
    />
    <title>PropertyPlus Care</title>
    <script src="/js/htmx.min.js"></script>
  </head>
  <body class="bg-blue-900 text-slate-300 bg-[url('/img/bg.jpeg')] bg-cover bg-no-repeat">

    <header class="fixed right-0 max-h-10 max-w-10 sm:hidden">
      <a href="./help.hbs">
        <img src="/img/questionmark.png" alt="question mark" />
      </a>
    </header>

    <div class="flex w-[95%] m-auto justify-around">
      <div class="w-[20%]">
        <select class="text-gray-600 mt-5"
          name="model"
          hx-get="/aside"
          hx-target="#aside"
          hx-trigger="change, update-aside from:body"
          hx-push-url="true"
        >
          <option value="task" selected="selected=">Tasks</option>
          <option value="issues">Issues</option>
          <option value="property">Properties</option>
          <option value="vendor">Vendors</option>
          <option value="owner">Owners</option>
        </select>
        <div id="selectOption"></div>
        <aside class="overflow-auto max-h-[80vh]" id="aside">{{{body}}}</aside>

      </div>

      <div id="main" class="w-[75%] mt-16"></div>
    </div>

    <footer
      class="fixed bottom-0 flex w-screen bg-slate-500 text-center align-bottom sm:hidden"
    >
      <nav class="m-auto w-screen py-1.5">
        <ul class="flex max-w-screen-sm justify-around">
          <li><i
              hx-get="/test/pg1"
              hx-trigger="click"
              hx-swap="innerHTML"
              hx-target="#test"
              hx-push-url="true"
              class="fa-regular fa-calendar fa-3x"
            ></i></li>
          <li><i
              hx-get="/test/pg2"
              hx-trigger="click"
              hx-swap="innerHTML"
              hx-target="#test"
              hx-push-url="true"
              class="fa-regular fa-square-check fa-3x"
            ></i></li>
          <li><i
              hx-get="/test/pg3"
              hx-trigger="click"
              hx-swap="innerHTML"
              hx-target="#test"
              hx-push-url="true"
              class="fa-regular fa-house fa-3x"
            ></i></li>
          <li><i
              hx-get="/test/pg4"
              hx-trigger="click"
              hx-swap="innerHTML"
              hx-target="#test"
              hx-push-url="true"
              class="fa-regular fa-user-helmet-safety fa-3x"
            ></i></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>