<form
  class="flex flex-col text-gray-600"
  hx-post="/issues/new"
  hx-target="#main"
>

  <label for="issue_title">Issue Title:</label>
  <input type="text" name="issue_title" hx-preserve id="i_t"/>

  <label for="issue_description">Issue Description:</label>
  <input type="text" name="issue_description" hx-preserve id="i_d" />

  <label for="followUp_date">Issue Property:</label>
  <select name="property_id" class="mt-2 rounded text-gray-400" hx-preserve id="i_p">
    {{#each properties}}
      <option value="{{property_id}}">{{property_name}}</option>
    {{/each}}
  </select>

  <button
    class="my-5 rounded-lg border-2 border-slate-300 px-2 text-white"
    type="submit"
  >Save Issue</button>
  {{#if isError}}
    <div class="p-2 text-red-500">{{msg}}</div>
  {{/if}}
</form>
<button
  class="rounded-lg border-2 border-slate-300 px-2"
  hx-get="/cancel"
  hx-target="#main"
>Cancel New Issue</button>