<main class="w-full max-w-xs">
  <h1 class="flex justify-center text-white">Please Enter Your Credentials</h1>
  <form class="flex flex-col justify-center bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" hx-post="/login" hx-target="#main" hx-push-url="true">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="user_email" >Email</label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" name="user_email" placeholder="example@example.com">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="user_password">Password</label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" name="user_password" placeholder="*******">
    <button class=" text-black" type="submit">Login</button>
  </form>
  <a href="">Register for Account</a>
</main>

