<main class="m-4 rounded bg-inherit px-4 py-2 text-white backdrop-blur-xl shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
  <h1 class="font-bold text-2xl my-5 text-white">Add New Owner:</h1>
  <form
    class="flex flex-col lg:max-w-[50%]"
    hx-post="/owners/new"
    hx-target="#main"
  >
    <label for="owner_first_name">First Name:</label>
    <input class="pl-1 rounded text-gray-600" placeholder="First Name"type="text" name="owner_first_name" autofocus hx-preserve id="o_f_n" />
    <label class="mt-2" for="owner_last_name">Last Name:</label>
    <input class="pl-1 rounded text-gray-600" placeholder="Last Name" name="owner_last_name" hx-preserve id="o_l_n" />
    <label class="mt-2" for="owner_street">Owner Street Address:</label>
    <input class="pl-1 rounded text-gray-600" placeholder="Street Address" type="text" name="owner_street" hx-preserve id="o_s" />
    <label class="mt-2" for="owner_city">Owner City:</label>
    <input class="pl-1 rounded text-gray-600" placeholder="City" type="text" name="owner_city" hx-preserve id="o_c"/>
    <label class="mt-2" for="owner_state">Owner State:</label>
    <input class="pl-1 rounded text-gray-600" placeholder="State" type="text" name="owner_state" hx-preserve id="o_st" />
    <label class="mt-2" for="owner_zip">Owner Zip:</label>
    <input class="pl-1 rounded text-gray-600" placeholder="Zipcode" type="text" name="owner_zip" hx-preserve id="o_z"/>
    <label class="mt-2" for="owner_email">Email:</label>
    <input class="pl-1 rounded text-gray-600" placeholder="Email Address" type="email" name="owner_email" hx-preserve id="o_e"/>
    <label class="mt-2" for="owner_phone">Phone Number:</label>
    <input class="pl-1 rounded text-gray-600" placeholder="Phone Number" type="text" name="owner_phone" hx-preserve id="o_p"/>
    {{#if isError}}
      <div class="p-2 text-red-500">{{msg}}</div>
    {{/if}}
    <div class="pt-2">
      <button class="rounded my-3 px-2 bg-green-400 hover:bg-green-600 focus:outline-none focus:ring focus:ring-blue-300 active:bg-green-700 shadow-lg" type="submit">Submit New Property</button>
      <button class="rounded my-3 mx-1 px-2 bg-red-400 hover:bg-red-600 focus:outline-none focus:ring focus:ring-blue-300 active:bg-red-700 shadow-lg"
        hx-get="/cancel"
        hx-target="#main"
      >Cancel New Owner</button>
    </div>
  </form>
</main>