<main class="m-4 rounded bg-white/30 px-4 text-white backdrop-blur-md">
  <form
    class="flex flex-col text-gray-600"
    hx-post="/properties/new"
    hx-target="#main"
  >
    <label for="property_name">Property Name:</label>
    <input type="text" name="property_name" autofocus hx-preserve id="p_n" />
    <label for="property_street">Property Street Address:</label>
    <input type="text" name="property_street" hx-preserve id="p_s" />
    <label for="property_city">Property City:</label>
    <input type="text" name="property_city" hx-preserve id="p_c" />
    <label for="property_state">Property State:</label>
    <input type="text" name="property_state" hx-preserve id="p_st" />
    <label for="property_zip">Property Zip:</label>
    <input type="text" name="property_zip" hx-preserve id="p_z" />
    {{#if isError}}
      <div class="p-2 text-red-500">{{msg}}</div>
    {{/if}}

    <label for="owner">Property Owner:</label>
    <select name="owner_id"  hx-preserve id="p_o">
      <option value="" disabled selected hidden>Select a property owner</option>
      {{#each owners}}
        <option value="{{owner_id}}">{{owner_first_name}}
          {{owner_last_name}}</option>
      {{/each}}
    </select>
    <button class="my-5" type="submit">Submit</button>
  </form>
  <button class="rounded-lg border-2 border-slate-300 px-2"
    hx-get="/cancel"
    hx-target="#main"
  >Cancel New Property</button>
</main>