<dialog open class="p-2 rounded-md">
  <form class="flex flex-col">
    <label for="owner_first_name">First Name</label>
    <input type="text" name="owner_first_name" id="owner_first_name">

    <label for="owner_last_name">Last Name</label>
    <input type="text" name="owner_last_name" id="owner_last_name">

    <label for="owner_email">Email</label>
    <input type="email" name="owner_email" id="ownerEmail">

    <label for="owner_phone">Phone number</label>
    <input type="text" name="owner_phone" id="owner_phone">

    <label for="owner_street">Street Address</label>
    <input type="text" name="owner_street" id="owner_street">

    <label for="owner_city">City</label>
    <input type="text" name="owner_city" id="owner_city">

    <label for="owner_state">State</label>
    <input type="text" name="owner_state" id="owner_state">

    <label for="owner_zip">Zipcode</label>
    <input type="text" name="owner_zip" id="owner_zip">

    <button type="submit">Create Owner</button>
  </form>
</dialog>