<form class="flex flex-col lg:max-w-[50%] text-white" hx-post="/tasks/new" hx-target="#main">

  <label for="task_name">Task:</label>
  <input class="rounded text-gray-500 pl-1" type="text" name="task_name" placeholder="Enter To-Do" />

  <label for="status_update">Status Update:</label>
  <textarea name="status_update" id="status_update" rows="5" placeholder="Enter Latest Update"
  class="rounded text-gray-500 pl-1"></textarea>
  {{!-- <input class="rounded text-gray-500 pl-1" type="text" name="status_update" placeholder="Enter Latest Update"/> --}}

  <label for="followUp_date">Follow-up Date:</label>
  <input class="max-w-[50%] rounded text-gray-500 pl-1" type="date" name="followUp_date" />

  {{!-- using issue_id and property-id value sent from taskController --}}
  {{!-- these elements are not seen by user, but values are passed in the request --}}
  <input type="input" name="issue_id" value="{{issue_id}}" hidden />
  <input type="input" name="property_id" value="{{property_id}}" hidden />

  <span class="flex justify-center">
    <button
      class="rounded text-nowrap text-sm my-3 px-2 bg-green-400 hover:bg-green-600 focus:outline-none focus:ring focus:ring-blue-300 active:bg-green-700 shadow-lg"
      type="submit">Save Task</button>
    <button
      class="rounded text-nowrap text-sm my-3 mx-3 px-2 bg-red-400 hover:bg-red-600 focus:outline-none focus:ring focus:ring-blue-300 active:bg-red-700 shadow-lg"
      hx-get="/issues/{{issue_id}}" hx-target="#main">Cancel Task</button>
  </span>
</form>