<form class="flex flex-col text-gray-600" 
  hx-post="/tasks/new"
  hx-target="#main">

  <label for="task_name">Task:</label>
  <input type="text" name="task_name" />

  <label for="status_update">Status Update:</label>
  <input type="text" name="status_update" />

  <label for="followUp_date">Follow-up Date:</label>
  <input type="date" name="followUp_date" />

  {{!-- using issue_id and property-id value sent from taskController --}}
  {{!-- these elements are not seen by user, but values are passed in the request --}}
  <input type="input" name="issue_id" value="{{issue_id}}" hidden />
  <input type="input" name="property_id" value="{{property_id}}" hidden />

  <button class="my-5 border-2 border-slate-300 rounded-lg px-2 bg-purple-900 text-white" type="submit">Save Task</button>
</form>
<button class="border-2 border-slate-300 rounded-lg px-2"
  hx-get="/issues/{{issue_id}}"
  hx-target="#main"
>Cancel New Task</button>