<form>
  <label for="user_name">
    <input type="text" id="user_name" name="user_name" />
  </label>
  <label for="user_password">
    <input type="text" id="user_password" name="user_password" />
  </label>
</form>