<ul
  id="ownersList"
  hx-trigger="new-owner from:body"
  hx-get="/vendors"
  hx-target="#aside"
>
  {{#each vendors}}
    <li
      class="m-4 rounded bg-white/30 p-2 text-white backdrop-blur-sm"
      hx-get="/vendors/{{vendor_id}}"
      hx-target="#main"
      hx-push-url="true"
    >
      <h2 hx-target="closest li">{{vendor_first_name}} {{vendor_last_name}}</h2>
      <h3 hx-target="closest li">Trade: {{vendor_trade}}</h3>
    </li>
  {{/each}}
</ul>

{{#unless renderSelect}}
  <select
    name="vendor_trade"
    id="selectOption"
    hx-swap-oob="true"
    hx-get="/vendors/trades"
    hx-target="#aside"
  >
    <option value="All">All Trades</option>
    <option value="Electrical">Electrical</option>
    <option value="Flooring">Flooring</option>
    <option value="Handyman">Handyman</option>
    <option value="Plumbing">Plumbing</option>
    <option value="Roofer">Roofer</option>
  </select>
{{/unless}}