<main
  class="m-4 rounded bg-inherit px-4 py-2 text-white backdrop-blur-xl shadow-[rgba(50,50,93,0.25)_0px_6px_12px_-2px,_rgba(0,0,0,0.3)_0px_3px_7px_-3px]">
  <h1 class="font-bold text-2xl my-5 text-white">Add New Vendor:</h1>
  <form class="flex flex-col text-white lg:max-w-[50%] mt-2" hx-post="/vendors/new" hx-target="#main">
    <label for="vendor_first_name">First Name:</label>
    <input class="pl-1 rounded text-gray-600" type="text" name="vendor_first_name" autofocus hx-preserve id="v_f_n" />

    <label for="vendor_last_name">Last Name:</label>
    <input class="pl-1 rounded text-gray-600" type="text" name="vendor_last_name" hx-preserve id="v_l_n" />

    <label for="vendor_trade">Trade:</label>
    <select name="vendor_trade" hx-preserve id="v_t" class="pl-1 rounded text-gray-600">
      <option value="" disabled selected hidden>Pick a trade</option>
      <option value="Electrical">Electrical</option>
      <option value="Flooring">Flooring</option>
      <option value="Handyman">Handyman</option>
      <option value="Plumbing">Plumbing</option>
      <option value="Roofer">Roofer</option>
    </select>

    <label for="vendor_email">Email:</label>
    <input class="pl-1 rounded text-gray-600" type="email" name="vendor_email" hx-preserve id="v_e" />

    <label for="vendor_phone">Phone Number:</label>
    <input class="pl-1 rounded text-gray-600" type="text" name="vendor_phone" hx-preserve id="v_p" />

    {{#if isError}}
    <div class="p-2 text-red-500">{{msg}}</div>
    {{/if}}

    <div>
      <button
        class="rounded my-3 px-2 bg-green-400 hover:bg-green-600 focus:outline-none focus:ring focus:ring-blue-300 active:bg-green-700 shadow-lg"
        type="submit">Submit</button>
      <button
        class="rounded my-3 mx-1 px-2 bg-red-400 hover:bg-red-600 focus:outline-none focus:ring focus:ring-blue-300 active:bg-red-700 shadow-lg"
        hx-get="/cancel" hx-target="#main">Cancel</button>
    </div>
  </form>
</main>