<select
  name="issue_id"
  hx-post="/vendors/{{vendor_id}}/issues"
  hx-include=""
>
  <option value="" selected="selected">Add Issue to Vendor</option>
  {{#each issues}}
    <option value="{{issue_id}}">{{issue_title}}</option>
  {{/each}}
</select>